<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783554957360-a71a98p71tdu8bmt6l21uri6u5c47915.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783554957360-a71a98p71tdu8bmt6l21uri6u5c47915</string>
	<key>API_KEY</key>
	<string>AIzaSyCZKQ73Tdi1B-IAD3TLJpGJY7z80qYTTbo</string>
	<key>GCM_SENDER_ID</key>
	<string>783554957360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashishkeshan.Saraswati</string>
	<key>PROJECT_ID</key>
	<string>saraswati-7a452</string>
	<key>STORAGE_BUCKET</key>
	<string>saraswati-7a452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783554957360:ios:eb9c133b0577fe88199df5</string>
	<key>DATABASE_URL</key>
	<string>https://saraswati-7a452.firebaseio.com</string>
</dict>
</plist>